:root{
  --orange:#fe6148;
  --dirty_orange:#9e2f1e;
  --gray:#252128;
  --border:rgb(83, 83, 83);
}
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
 
  
  
}
body{
  width:100vw;
  height:100vh;
}
.App{
  padding-top:85px;
}